@use "../abstracts/mixins" as *;

.article {
    position: relative;
    background-color: var(--clr-neutral-paleGrey);
}

.article--size--large {
    box-shadow: 0px 0.4rem 3rem rgba(22, 49, 82, 0.12);

    .article__image-wrapper {
        width: 77rem;
        height: 37.8rem;
    }

    .article__image-description {
        font-size: var(--fs-1366-14);
        line-height: 1.9rem;
        padding-left: 4rem;
        padding-right: 4rem;
        margin-top: 1.071428em;
    }

    .article__link {
        display: block;
    }

    .article__title {
        font-size: var(--fs-1366-22);
        line-height: 3rem;
        margin-top: 0.909090909090909em;
    }

    .article__text {
        font-size: var(--fs-1366-18);
        line-height: 2.6rem;
        margin-top: 0.6666666666666666em;
    }

    .article__author-picture-wrapper {
        width: 6rem;
        height: 6rem;
        margin-right: 1.5rem;
    }

    .article__share-link {
        width: 2.6rem;
        height: 2.2rem;
    }

    .article__content {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .article__footer {
        padding-left: 4rem;
        padding-right: 4rem;
        padding-bottom: 4rem;
        margin-top: 4rem;
    }

    .article__author-name {
        font-size: var(--fs-1366-16);
        line-height: 2.179rem;
    }

    .article__creation-time {
        font-size: var(--fs-1366-16);
        line-height: 2.179rem;
        letter-spacing: 0.04em;
        margin-top: 0.375em;
    }
}

.article--size--small {
    box-shadow: 0px 0.4rem 3rem rgba(22, 49, 82, 0.12);

    .article__image-wrapper {
        width: 37rem;
        height: 13rem;
    }

    .article__image-description {
        font-size: var(--fs-1366-12);
        line-height: 1.6rem;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-top: 0.833333333333334em;
        display: block;
    }

    .article__link {
        display: block;
    }

    .article__title {
        font-size: var(--fs-1366-16);
        line-height: 2.2rem;
        margin-top: 0.75em;
    }

    .article__text {
        font-size: var(--fs-1366-14);
        line-height: 1.9rem;
        margin-top: 0.5714285714285714em;
    }

    .article__author-picture-wrapper {
        width: 3.7rem;
        height: 3.7rem;
        margin-right: 1rem;
    }

    .article__share-link {
        width: 1.7rem;
        height: 1.4rem;
    }

    .article__content {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .article__footer {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
        margin-top: 2rem;
    }

    .article__author-name {
        font-size: var(--fs-1366-12);
        line-height: 1.634rem;
    }

    .article__creation-time {
        font-size: var(--fs-1366-12);
        line-height: 1.634rem;
        margin-top: 0.4166666666666667em;
    }
}

.article__header {
    position: relative;
}

.article__image-figure {
    position: relative;
}

.article__image-wrapper {
    position: relative;
}

.article__image {
    width: inherit;
    height: inherit;
    object-fit: cover;
    vertical-align: middle;
}

.article__image-description {
    font-family: var(--ff-normal-600);
    color: var(--clr-primary-darkBlueGreyHalfTransparent);
}

.article__content {
    position: relative;
}

.article__link {
    font-family: var(--ff-normal-600);
    color: var(--clr-primary-nileBlue);
}

.article__title {
    position: relative;
}

.article__text {
    font-family: var(--ff-normal-400);
    color: var(--clr-primary-darkBlueGrey);
}

.article__footer {
    @include flex(center, flex-start, row);
}

.article__author-picture-wrapper {
    position: relative;
}

.article__author-picture {
    width: inherit;
    height: inherit;
    object-fit: cover;
    vertical-align: middle;
    border-radius: 50%;
}

.article__author-name {
    font-family: var(--ff-normal-600);
    color: var(--clr-primary-darkBlueGrey);
}

.article__creation-time {
    font-family: var(--ff-normal-400);
    color: var(--clr-primary-darkBlueGreyHalfTransparent);
}

.article__share-link {
    fill: none;
    margin-left: auto;
    margin-right: 0;
}

.article__share-icon {
    width: inherit;
    height: inherit;
    vertical-align: middle;
    fill: inherit;
    transition: transform .3s cubic-bezier(.51, .92, .24, 1);

    &:hover {
        transform: scale(1.2);
    }
}

.article__footer-content {
    @include flex(flex-start, flex-start, column);
}