@use "../abstracts/mixins" as *;

.form {
    padding-left: 7rem;
    display: grid;
    grid-template-rows: repeat(6, auto);
}

.form__description {
    font-family: var(--ff-normal-400);
    font-size: var(--fs-1366-16);
    line-height: 2.2rem;
    color: var(--clr-primary-darkBlueGrey);
    max-width: 31rem;
    margin-top: 1.25em;
    margin-bottom: 1.875em;
}

.form__field {
    position: relative;
}

.form__field--type--text {
    @include flex(flex-start, flex-start, column);
}

.form__field--type--tel {
    @include flex(flex-start, flex-start, column);
}

.form__field--type--email {
    @include flex(flex-start, flex-start, column);
}

.form__field--type--checkbox {
    @include flex(flex-start, flex-end, row-reverse);
    margin-bottom: 2.2rem;
}

.form__field-label {
    position: relative;
}

.form__field-label--type--text {
    font-family: var(--ff-normal-600);
    font-size: var(--fs-1366-16);
    line-height: 2.2rem;
    color: var(--clr-primary-darkBlueGrey);
    margin-bottom: 0.625em;
}

.form__field-label--type--tel {
    font-family: var(--ff-normal-600);
    font-size: var(--fs-1366-16);
    line-height: 2.2rem;
    color: var(--clr-primary-darkBlueGrey);
    margin-bottom: 0.625em;
}

.form__field-label--type--email {
    font-family: var(--ff-normal-600);
    font-size: var(--fs-1366-16);
    line-height: 2.2rem;
    color: var(--clr-primary-darkBlueGrey);
    margin-bottom: 0.625em;
}

.form__field-label--type--checkbox {
    font-family: var(--ff-normal-400);
    font-size: var(--fs-1366-12);
    line-height: 1.6rem;
    color: var(--clr-primary-darkBlueGrey);
    margin-top: 0.3rem;
}

.form__field-input {
    all: unset;
    transition: border .3s cubic-bezier(.51, .92, .24, 1);

    &:hover {
        border: 0.1rem solid var(--clr-accent-darkTurquoise);
    }

    &:focus {
        border: 0.1rem solid var(--clr-accent-darkTurquoise);
    }
}

.form__field-input--type--text {
    margin-bottom: 2rem;
    border: 0.1rem solid var(--clr-primary-nileBlueHalfTransparent);
    width: 41rem;
    padding: 1rem;

    &::placeholder {
        font-family: var(--ff-normal-400);
        font-size: var(--fs-1366-16);
        line-height: 2.2rem;
        color: var(--clr-primary-darkBlueGreyHalfTransparent2);
    }
}

.form__field-input--type--tel {
    margin-bottom: 2rem;
    border: 0.1rem solid var(--clr-primary-nileBlueHalfTransparent);
    width: 41rem;
    padding: 1rem;

    &::placeholder {
        font-family: var(--ff-normal-400);
        font-size: var(--fs-1366-16);
        line-height: 2.2rem;
        color: var(--clr-primary-darkBlueGreyHalfTransparent2);
    }
}

.form__field-input--type--email {
    margin-bottom: 3rem;
    border: 0.1rem solid var(--clr-primary-nileBlueHalfTransparent);
    width: 41rem;
    padding: 1rem;

    &::placeholder {
        font-family: var(--ff-normal-400);
        font-size: var(--fs-1366-16);
        line-height: 2.2rem;
        color: var(--clr-primary-darkBlueGreyHalfTransparent2);
    }
}

.form__field-input--type--checkbox {
    width: 2rem;
    height: 2rem;
    border: 0.1rem solid var(--clr-primary-nileBlueHalfTransparent);
    margin-right: 1rem;

    &:checked {
        border: 0.1rem solid var(--clr-primary-nileBlueHalfTransparent);
        appearance: auto;
        width: 1.8rem;
        height: 1.8rem;
    }
}

.form__button-submit {
    width: 100%;
    height: 4.8rem;
    background-color: var(--clr-accent-darkTurquoise);
    font-family: var(--ff-normal-600);
    font-size: var(--fs-1366-16);
    line-height: 2.2rem;
    color: var(--clr-neutral-paleGrey);
    cursor: pointer;
    transition: background-color .3s cubic-bezier(.51, .92, .24, 1);

    &:hover {
        background-color: var(--clr-hover-darkTurquoiseHover);
    }

    &:focus {
        background-color: var(--clr-hover-darkTurquoiseHover);
    }
}
  

/* ***** Colors - Start ***** */
$black: #111;
$grey: #2d343c;
$blue: #3f71ff;
$white: #000;
/* ***** Colors - End ***** */

%center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  %line-dimension {
    position: absolute;
    width: 0px;
    height: 5px;
    border-radius: 20px;
    background-color: $white;
  }
  /* ***** Global Styles - End ***** */
  
  /* ***** Specific Styles - Start ***** */
  .container2 {
    position: relative;
  }
  .checkbox {
    @extend %center;
    width: 75px;
    height: 75px;
    border: 2px solid $grey;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    &:hover {
      border: 2px solid $blue;
    }
    .fill-color {
      position: absolute;
      width: 73px;
      height: 73px;
      border-radius: 16px;
      background-color: $blue;
      clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
    .tick-mark-1 {
      position: absolute;
      width: 5px;
      height: 21px;
      right: 44px;
      bottom: 20px;
      background-color: #fff;
      border-radius: 20px 20px 0 0;
      transform: rotate(320deg);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .tick-mark-2 {
      position: absolute;
      width: 5px;
      height: 32px;
      left: 41px;
      bottom: 20px;
      border-radius: 0 0 20px 20px;
      background-color: #fff;
      transform: rotate(230deg);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
  }
  .outline-wrapper {
    .line-1 {
      @extend %line-dimension;
      left: 70px;
    }
    .line-2 {
      @extend %line-dimension;
      top: 60px;
      left: 10px;
      transform: rotate(90deg);
    }
    .line-3 {
      @extend %line-dimension;
      right: 70px;
    }
    .line-4 {
      @extend %line-dimension;
      bottom: 60px;
      left: 10px;
      transform: rotate(90deg);
    }
  }
  .information-text {
    position: absolute;
    bottom: calc(50% - 100px);
    color: $white;
    img {
      margin-bottom: -6px;
    }
  }
  .social-icons {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 70px;
  }
  /* ***** Specific Styles - End ***** */
  