.main-navigation {
    position: relative;
    flex-wrap: wrap;
}

.main-navigation__navigation-element {
    display: block;
}

.main-navigation__navigation-link {
    font-family: var(--ff-normal-600);
    font-size: var(--fs-1366-14);
    line-height: 1.8rem;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--clr-primary-nileBlue);
    padding: 1.0714285em;
}

.main-navigation__user-navigation {
    display: block;
}
