@use "../abstracts/mixins" as *;

.other-news-slider {
	margin-left: -1.5rem !important;
	margin-right: -1.5rem !important;
	padding-left: 1.5rem !important;
	padding-right: 1.5rem !important;
	margin-bottom: -4rem !important;
	padding-bottom: 4rem !important;
}

.other-news-slider__wrapper {
	margin-top: 4rem !important;
	padding-top: -4rem !important;
}

.other-news-slider__slide {
    position: relative;
}
