@use "../abstracts/mixins" as *;

.social-buttons-list {
    @include flex(flex-start, flex-start, row);
    column-gap: 1.5rem;
    margin-top: 1.5rem;
}

.social-buttons-list__item {
    position: relative;
}

.social-buttons-list__link {
    position: relative;
}

.social-buttons-list__facebook-icon {
    fill: white;
    width: 4rem;
    height: 4rem;
    color: #163152;
    transition: fill .3s cubic-bezier(0.51, 0.92, 0.24, 1), color .3s cubic-bezier(0.51, 0.92, 0.24, 1);

    &:hover {
        fill: var(--clr-accent-darkTurquoise);
        color: white;
    }
}

.social-buttons-list__twitter-icon {
    fill: white;
    width: 4rem;
    height: 4rem;
    color: #163152;
    transition: fill .3s cubic-bezier(0.51, 0.92, 0.24, 1), color .3s cubic-bezier(0.51, 0.92, 0.24, 1);

    &:hover {
        fill: var(--clr-accent-darkTurquoise);
        color: white;
    }
}

.social-buttons-list__instagram-icon {
    fill: white;
    width: 4rem;
    height: 4rem;
    color: #163152;
    transition: fill .3s cubic-bezier(0.51, 0.92, 0.24, 1), color .3s cubic-bezier(0.51, 0.92, 0.24, 1);

    &:hover {
        fill: var(--clr-accent-darkTurquoise);
        color: white;
    }
}
