.user-navigation {
    font-size: var(--fs-1366-14);
    width: 3.6rem;
    height: 3.6rem;
    margin-left: calc(4rem - 1.0714285em);
}

.user-navigation__svg {
    width: inherit;
    height: inherit;
    fill: none;
}