.special-features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 8rem;
    row-gap: 4.5rem;
}

.special-features__feature {
    max-width: 25rem;
}

.special-features__feature-name {
    position: relative;
}

.special-features__feature-plate-icon {
    width: 6rem;
    height: 6rem;
    fill: none;
    vertical-align: middle;
}

.special-features__feature-bed-icon {
    width: 6rem;
    height: 6rem;
    fill: none;
    vertical-align: middle;
}

.special-features__feature-cocktail-icon {
    width: 6rem;
    height: 6rem;
    fill: none;
    vertical-align: middle;
}

.special-features__feature-handshake-icon {
    width: 6rem;
    height: 6rem;
    fill: none;
    vertical-align: middle;
}

.special-features__feature-name-text {
    font-family: var(--ff-normal-500);
    font-size: var(--fs-1366-18);
    line-height: 2.4rem;
    color: var(--clr-primary-nileBlue);
    padding-top: 1.1111111111111111em;
}

.special-features__feature-description {
    font-family: var(--ff-normal-400);
    font-size: var(--fs-1366-16);
    line-height: 2.4rem;
    color: var(--clr-primary-darkBlueGrey);
    padding-top: 0.625em;
}