@use "../abstracts/mixins" as *;
@use "../vendors/include-media" as *;

.text--style--navigation {
    font-family: var(--ff-normal-600);
    font-size: var(--fs-1366-14);
    line-height: 1.8rem;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--clr-primary-nileBlue);
}

.section-title {
    color: var(--clr-primary-nileBlue);
    font-family: var(--ff-normal-600);
    font-size: var(--fs-1366-24);
    line-height: 3.4rem;
}

.section-title--position--center {
    text-align: center;
}

.section-title--position--left {
    text-align: left;
}

.section-title--underline--14rem {
    &::after {
        content: "";
        display: block;
        position: relative;
        width: 14rem;
        height: 0.2rem;
        background-color: var(--clr-accent-darkTurquoise);
        margin-top: 1.3rem;
        margin-bottom: 0;
    }
}

.section-title--underline--17rem {
    &::after {
        content: "";
        display: block;
        position: relative;
        width: 17rem;
        height: 0.2rem;
        background-color: var(--clr-accent-darkTurquoise);
        margin-top: 1.3rem;
        margin-bottom: 0;
    }
}

.section-title--underline--13rem {
    &::after {
        content: "";
        display: block;
        position: relative;
        width: 13rem;
        height: 0.2rem;
        background-color: var(--clr-accent-darkTurquoise);
        margin-top: 1.3rem;
        margin-bottom: 0;
    }
}

.section-title--underline--11rem {
    &::after {
        content: "";
        display: block;
        position: relative;
        width: 11rem;
        height: 0.2rem;
        background-color: var(--clr-accent-darkTurquoise);
        margin-top: 1.3rem;
        margin-bottom: 0;
    }
}

.section-title--underline--37rem {
    &::after {
        content: "";
        display: block;
        position: relative;
        width: 37rem;
        height: 0.2rem;
        background-color: var(--clr-accent-darkTurquoise);
        margin-top: 1.3rem;
        margin-bottom: 0;
    }
}

.section-title--underline--27rem {
    &::after {
        content: "";
        display: block;
        position: relative;
        width: 27rem;
        height: 0.2rem;
        background-color: var(--clr-accent-darkTurquoise);
        margin-top: 1.3rem;
        margin-bottom: 0;
    }
}

.section-title--underline--10rem {
    &::after {
        content: "";
        display: block;
        position: relative;
        width: 10rem;
        height: 0.2rem;
        background-color: var(--clr-accent-darkTurquoise);
        margin-top: 1.3rem;
        margin-bottom: 0;
    }
}

.section-title--underline--19rem {
    &::after {
        content: "";
        display: block;
        position: relative;
        width: 19.5rem;
        height: 0.2rem;
        background-color: var(--clr-accent-darkTurquoise);
        margin-top: 1.3rem;
        margin-bottom: 0;
    }
}

.section-title--underline--center {
    &::after {
        margin-left: auto;
        margin-right: auto;
    }
}

.section-title--underline--left {
    &::after {
        margin-left: 0;
        margin-right: auto;
    }
}

.text--style--marked {
}

.text--style--bold {
}