@use "../abstracts/mixins" as *;
@use "../vendors/include-media" as *;

.text--style--navigation {
    font-family: var(--ff-normal-600);
    font-size: var(--fs-1366-14);
    line-height: 1.8rem;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--clr-primary-nileBlue);
}