@use "../abstracts/mixins" as *;

.news-article {
    padding-top: 6rem;
}

.news-article__header {
    display: grid;
    grid-template-columns: 1fr 60rem;
    grid-template-rows: repeat(5, auto);
    column-gap: 7rem;
}

.news-article__creation-time {
    grid-column: 1 / 2;
    font-family: var(--ff-normal-400);
    font-size: var(--fs-1366-14);
    line-height: 1.8rem;
    color: var(--clr-primary-darkBlueGrey);
    padding-bottom: 1.4285714285714286em;
}

.news-article__title {
    grid-column: 1 / 2;
    font-family: var(--ff-normal-600);
    font-size: var(--fs-1366-34);
    line-height: 4.6rem;
    color: var(--clr-primary-nileBlue);
    padding-bottom: 0.5882352941176471em;
}

.news-article__creators {
    grid-column: 1 / 2;
    @include flex(flex-start, flex-start, row);
    column-gap: 2rem;
}

.news-article__creator {
    @include flex(flex-start, flex-start, row);
    column-gap: 0.5rem;
}

.news-article__author {
    font-family: var(--ff-normal-600);
    font-size: var(--fs-1366-14);
    line-height: 1.8rem; 
    color: var(--clr-primary-darkBlueGrey); 
}

.news-article__author-name {
    font-family: var(--ff-normal-400);
    font-size: var(--fs-1366-14);
    line-height: 1.8rem;
    color: var(--clr-primary-darkBlueGrey); 
}

.news-article__photographer {
    font-family: var(--ff-normal-600);
    font-size: var(--fs-1366-14);
    line-height: 1.8rem; 
    color: var(--clr-primary-darkBlueGrey); 
}

.news-article__photographer-name {
    font-family: var(--ff-normal-400);
    font-size: var(--fs-1366-14);
    line-height: 1.8rem;
    color: var(--clr-primary-darkBlueGrey); 
}

.news-article__text-intro {
    grid-column: 1 / 2;
    font-family: var(--ff-normal-400);
    font-size: var(--fs-1366-18);
    line-height: 2.5rem;
    color: var(--clr-primary-darkBlueGrey);

    &:first-of-type {
        margin-top: 1.9444444444444443em;
        margin-bottom: 0.5555555555555556em;
    }
}

.news-article__image-wrapper {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    width: 60rem;
    height: 36.3rem;
}

.news-article__image {
    width: inherit;
    height: inherit;
    object-fit: cover;
    vertical-align: middle;
}

.news-article__text-content {
    position: relative;
}

.news-article__text-content--padding--6rem {
    padding-top: 6rem;
}

.news-article__text-content--layout-type--grid-large-small-column {
    display: grid;
    grid-template-columns: 70rem 1fr;
    column-gap: 10rem;
}

.news-article__text {
    grid-column: 1 / 2;
    font-family: var(--ff-normal-400);
    font-size: var(--fs-1366-16);
    line-height: 2.2rem;
    color: var(--clr-primary-darkBlueGrey);
}

.news-article__text--first-letter-size--big {
    &::first-letter {
        font-family: var(--ff-normal-400);
        font-size: var(--fs-1366-73);
        line-height: 9.9rem;
        color: var(--clr-primary-darkBlueGrey);
        float: left;
        padding-top: 0.8rem;
        margin-left: -0.6rem;
    }
}

.news-article__similar-article-list {
    grid-column: 2 / 3;
}

.news-article__qa-box {
    grid-column: 1 / 2;
}

.news-article__qa-box--padding-top--3rem {
    padding-top: 3rem;
}

.news-article__qa-box--padding-top--3-5rem {
    padding-top: 3.5rem;
}

.news-article__qa-box--padding-top--1-5rem {
    padding-top: 1.5rem;
} 

.news-article__question-text--style--normal {
    font-family: var(--ff-normal-400);
    font-size: var(--fs-1366-16);
    line-height: 2.2rem;
    color: var(--clr-primary-darkBlueGrey);
}

.news-article__quoted-text--style--bold {
}

.news-article__question-text--style--italic {
}

.news-article__quoted-text--style--normal {
}

.news-article__lead-image {
}

.news-article__quote-box {
}

.news-article__yacht-list {
}

.news-article__footer {
}

.news-article__tag-list {
}

.news-article__article-share {
}

.other-news {
}
