$colors: (
	primary: (
		"nileBlue": hsl(213deg 58% 20%), // #163152
		"darkBlueGrey": hsl(213deg 35% 24%), // #283C54
		"darkBlueGreyHalfTransparent": hsla(213, 35%, 24%, 0.502), // #283C5480
		"darkBlueGreyHalfTransparent2": hsla(213, 35%, 24%, 0.4), // #283C5480
		"nileBlueHalfTransparent": hsla(213, 58%, 20%, 0.15), // #163152 15%
		"nileBlueHalfTransparent2": hsla(213, 58%, 20%, 0.15) // #163152 40%
		),
	secondary: (
		"whiteSmoke": hsl(240deg 11% 96%), // #F5F5F7
		),
	accent: (
		"darkTurquoise": hsl(177deg 100% 39%), // #00C6BD
	),
	neutral: (
		"paleGrey": hsl(240deg 100% 100%), // #FDFDFF
	),
	background: (
		"nileBlueTransparent": hsla(213, 58%, 20%, 0.3)
	)
);
